<div class="description">
  <div class="description-part">
    <h2>{{ 'HOME.CONCEPT.TITLE' | translate }}</h2>
    <p>{{ 'HOME.CONCEPT.TEXT' | translate }}</p>
    <span class="link">
      {{ 'HOME.CONCEPT.REPOSITORY' | translate }}:&nbsp;
      <a href="https://github.com/LDebove/website">https://github.com/LDebove/website</a>
    </span>
  </div>
  <div class="description-part">
    <h2>{{ 'HOME.DEVELOPER.TITLE' | translate }}</h2>
    <p>{{ 'HOME.DEVELOPER.TEXT-PART-1' | translate }}</p>
    <h6>{{ 'HOME.DEVELOPER.TEXT-PART-2' | translate }}</h6>
  </div>
</div>


