<ng-container [formGroup]="imageForm">
  <div class="tool-box main-box">
    <h4 class="title">{{ 'IMAGE-EDITOR.IMAGE' | translate }}</h4>
    <cInput class="file-input" type="file" accept=".png,.jpg" (cChange)="setCanvas($event)"></cInput>
    <div class="canvas-container">
      <canvas class="preview-canvas" #preview preserveCanvasAspectRatio
        [canvasChangeIndicator]="canvasChangeIndicator"></canvas>
    </div>
    <div class="button-container">
      <cButton class="download-button" color="green" [text]="'IMAGE-EDITOR.DOWNLOAD' | translate" [disabled]="!ready"
        (cClick)="download()"></cButton>
      <cButton class="reset-button" color="red" [text]="'IMAGE-EDITOR.RESET' | translate" [disabled]="!ready"
        (cClick)="resetPreviewCanvas()"></cButton>
    </div>
  </div>
  <div class="tool-box">
    <cLoader *ngIf="!ready && imageLoaded" class="loader"></cLoader>
    <h4 class="title">{{ 'IMAGE-EDITOR.TOOLS' | translate }}</h4>
    <div class="form-control">
      <cButton color="orange" [text]="'IMAGE-EDITOR.ALPHA-COLOR-REMOVER.TEXT' | translate" [disabled]="!imageLoaded"
        (cClick)="removeColorTransparency()"></cButton>
      <cHint class="hint" [text]="'IMAGE-EDITOR.ALPHA-COLOR-REMOVER.HINT' | translate"></cHint>
    </div>
    <div class="form-control">
      <cInput type="number" [label]="'IMAGE-EDITOR.PIXELATOR.TEXT' | translate" formControlName="pixelate" (cChange)="pixelate($event.target!)"></cInput>
      <cHint class="hint" [text]="'IMAGE-EDITOR.PIXELATOR.HINT' | translate"></cHint>
    </div>
    <div class="form-control">
      <cInput type="number" [label]="'IMAGE-EDITOR.COLOR-REDUCER.TEXT' | translate" formControlName="colorRemover" [active]="ready"
        (cChange)="replaceLeastUsedColors($event.target!)"></cInput>
      <cHint class="hint" [text]="'IMAGE-EDITOR.COLOR-REDUCER.HINT' | translate"></cHint>
    </div>
    <div class="form-control">
      <cInput type="number" [label]="'IMAGE-EDITOR.OUTLINE-ADDITION.TEXT' | translate" formControlName="outlineAddition"
        [active]="ready" (cChange)="addOutline($event.target!)"></cInput>
      <cHint class="hint" [text]="'IMAGE-EDITOR.OUTLINE-ADDITION.HINT' | translate"></cHint>
    </div>
    <div class="form-control">
      <cInput type="color" [label]="'IMAGE-EDITOR.OUTLINE-COLOR.TEXT' | translate" value="#FFFFFF"
        (cChange)="setOutlineColor($event.target!)"></cInput>
      <cHint class="hint" [text]="'IMAGE-EDITOR.OUTLINE-COLOR.HINT' | translate"></cHint>
    </div>
  </div>
</ng-container>
