<div class="footer-link-container">
  <div class="footer-link">
    <a href="https://github.com/LDebove" cTooltip tooltipText="GitHub" target="_blank" rel="noopener noreferrer">
      <img [ngClass]="{'hidden': !lightMode}" src="assets/images/github-mark.png"/>
      <img [ngClass]="{'hidden': lightMode}" src="assets/images/github-mark-white.png"/>
    </a>
  </div>
  <div class="footer-link">
    <a href="https://www.linkedin.com/in/leo-debove/" cTooltip tooltipText="LinkedIn" target="_blank" rel="noopener noreferrer">
      <img [ngClass]="{'dark-mode': !lightMode}" src="assets/images/linkedin.png"/>
    </a>
  </div>
  <div class="footer-link">
    <a href="mailto:me@leodebove.com" cTooltip [tooltipText]="'LAYOUT.EMAIL' | translate" target="_blank" rel="noopener noreferrer">
      <img [ngClass]="{'dark-mode': !lightMode}" src="assets/images/email.png"/>
    </a>
  </div>
  <div class="footer-link">
    <a href="https://leodebove.com/CV.pdf" cTooltip [tooltipText]="'LAYOUT.CV' | translate" target="_blank" rel="noopener noreferrer">
      <img [ngClass]="{'dark-mode': !lightMode}" src="assets/images/cv.png"/>
    </a>
  </div>
</div>
<span class="copyright" (click)="openCopyright(); $event.stopPropagation()">Copyright © 2023 - Léo Debove</span>
