<div class="footer-link-container">
  <div class="footer-link">
    <a href="https://github.com/LDebove" cTooltip tooltipText="GitHub">
      <img [ngClass]="{'hidden': !lightMode}" src="assets/images/github-mark.png" target="_blank"/>
      <img [ngClass]="{'hidden': lightMode}" src="assets/images/github-mark-white.png" target="_blank"/>
    </a>
  </div>
  <div class="footer-link">
    <a href="https://www.linkedin.com/in/leo-debove/" cTooltip tooltipText="LinkedIn">
      <img [ngClass]="{'dark-mode': !lightMode}" src="assets/images/linkedin.png" target="_blank"/>
    </a>
  </div>
  <div class="footer-link">
    <a href="mailto:me@leodebove.com" cTooltip [tooltipText]="'LAYOUT.EMAIL' | translate">
      <img [ngClass]="{'dark-mode': !lightMode}" src="assets/images/email.png" target="_blank"/>
    </a>
  </div>
  <div class="footer-link">
    <a href="" cTooltip [tooltipText]="'LAYOUT.CV' | translate">
      <img [ngClass]="{'dark-mode': !lightMode}" src="assets/images/cv.png" target="_blank"/>
    </a>
  </div>
</div>
<span class="copyright" (click)="openCopyright(); $event.stopPropagation()">Copyright © 2023 - Léo Debove</span>
