$header-height: 70px;
$footer-height: 70px;

header,
main,
footer {
  width: 100%;
  overflow: auto;
}

header {
  height: $header-height;
  background-color: var(--color-1);
}

main {
  min-height: calc(100% - $header-height - $footer-height);
  background-color: var(--color-3);
}

footer {
  height: $footer-height;
  background-color: var(--color-1);
}
