$header-height: 70px;
$footer-height: 70px;

header,
main,
footer {
  width: 100%;
  overflow: auto;
}

header {
  height: $header-height;
  background-color: var(--color-1);
}

main {
  display: flex;
  min-height: calc(100% - $header-height - $footer-height);
  border-top: 1px solid var(--contrast-color);
  border-bottom: 1px solid var(--contrast-color);
  box-sizing: border-box;
  background-color: var(--color-3);
}

footer {
  height: $footer-height;
  background-color: var(--color-1);
}
