:host.hidden {
  display: none;
}

/* theme-toggle component */
.custom-theme-switch {
  --night-color: #000000;
  --day-color: #000000;
  --color: #fff000;
  --size-multiplier: 0.6;

  font-size: 17px;
  position: relative;
  display: inline-block;
  width: calc(var(--size-multiplier) * 3.5em);
  height: calc(var(--size-multiplier) * 2em);

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.custom-theme-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--night-color);
  transition: .5s;
  border-radius: 30px;
}

.custom-theme-slider:before {
  position: absolute;
  content: "";
  width: calc(var(--size-multiplier) * 1.4em);
  height: calc(var(--size-multiplier) * 1.4em);
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset calc(var(--size-multiplier) * 8px) calc(var(--size-multiplier) * -4px) 0px 0px var(--color);
  background: var(--night-color);
  transition: .5s;
}

input:checked + .custom-theme-slider {
  background-color: var(--day-color);
}

input:checked + .custom-theme-slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px var(--color);
}


/* toggle component */
.custom-switch {
  --button-width: 2.5em;
  --button-height: 1.4em;
  --toggle-diameter: 1em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 2.1em;
  --color-grey: #cccccc;
  --color-green: #4296f4;

  input[type="checkbox"]:checked + .custom-slider {
    background-color: var(--color-green);
  }

  input[type="checkbox"]:checked + .custom-slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:active + .custom-slider::after {
    width: var(--toggle-wider);
  }

  input[type="checkbox"]:checked:active + .custom-slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
  }
}

.custom-slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.custom-slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}


/* select component */
.custom-select {
  select {
    max-width: 100%;
    border: 1px solid var(--highlight-color-1);
    padding: 2px 5px;
    margin: 0;
    border-radius: 3px;
    background-color: var(--contrast-color);
    color: var(--font-color);
    cursor: pointer;
  }
}


/* burger component */
.custom-burger {
  --size-multiplier: 0.66;

  display: flex;
  position: relative;
  width: calc(var(--size-multiplier) * 40px);
  height: calc(var(--size-multiplier) * 30px);
  background: transparent;
  cursor: pointer;

  input {
    display: none;
  }

  span {
    display: block;
    position: absolute;
    height: calc(var(--size-multiplier) * 3px);
    width: 100%;
    background: var(--font-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  span:nth-of-type(1) {
    top: 0;
    transform-origin: left center;
  }

  span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }

  input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0;
    left: calc(var(--size-multiplier) * 5px);
  }

  input:checked ~ span:nth-of-type(2) {
    width: 0;
    opacity: 0;
  }

  input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: calc(var(--size-multiplier) * 28px);
    left: calc(var(--size-multiplier) * 5px);
  }
}


/* input component */
.custom-input-group {
  display: inline-flex;
  flex-direction: column;
  width: inherit;

  .custom-input-label-group {
    display: flex;
    width: 100%;
    white-space: nowrap;
    font-weight: bold;
    font-size: 15px;

    .custom-input-label {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .custom-input-required {
      flex-shrink: 0;
      color: var(--important-color);
    }
  }

  .custom-input {
    width: 100%;
    min-width: 50px;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid var(--highlight-color-1);
    box-sizing: border-box;
    outline: 0;
    background-color: var(--contrast-color);
    color: var(--font-color);
  }

  .custom-input::placeholder {
    color: var(--tinted-color);
  }

  .custom-input:focus,
  .custom-input:hover {
    border: 1px solid var(--highlight-color-2);
  }

  .custom-input:disabled {
    color: var(--tinted-color);
    cursor: not-allowed;
  }

  .custom-input:invalid {
    border: 1px solid var(--error-color);
  }
}


/* checkbox component */
.custom-checkbox-container {
  display: flex;
  width: 100%;
  gap: 5px;

  .custom-checkbox {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0;
    border: 0;
    outline: 0;
    accent-color: var(--color-5);
    cursor: pointer;
    flex: 0 0 25px;
  }

  .custom-checkbox:checked {
    animation: check 0.5s;
  }

  .custom-checkbox-label {
    display: flex;
    align-items: center;
    overflow: hidden;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  @keyframes check {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
  }
}


/* button component */
.custom-button {
  display: flex;
  width: inherit;
  height: inherit;
  min-height: 25px;
  padding: 0 5px;
  border: 1px solid var(--highlight-color-1);
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--contrast-color);
  color: var(--font-color);
  text-transform: uppercase;
  font-weight: bold;

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.custom-button:hover {
  border: 1px solid var(--highlight-color-2);
}

.custom-button:disabled {
  color: var(--tinted-color);
  cursor: not-allowed;
}

.custom-button.green {
  border: 1px solid #00D419;
  background-color: #00D419A0;
  color: #FFFFFF;
}
.custom-button.orange {
  border: 1px solid #FF7110;
  background-color: #FF7110A0;
  color: #FFFFFF;
}
.custom-button.red {
  border: 1px solid #FF1616;
  background-color: #FF1616A0;
  color: #FFFFFF;
}
