:host {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  align-items: center;
  gap: 25px;
}

.header-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  gap: 15px;

  .logo-container {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-5);
    cursor: pointer;

    img {
      display: block;
      height: 100%;
      max-width: 100%;
      border-radius: 50%;
    }
  }
}

.header-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-burger {
  margin-left: auto;
}

@media only screen and (min-width: 501px) {
  .header-link-container {
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-4) var(--color-2);

    &:hover {
      overflow-x: auto;
    }
    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      height: 8px;
      background-color: var(--color-2);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-4);
    }
    &.left {
      border-right: 3px solid var(--color-5);
    }
    &.right {
      border-left: 3px solid var(--color-5);
    }
  }

  .header-link {
    width: 200px;
    height: 100%;
    flex-shrink: 0;
    user-select: none;
    font-weight: 600;

    a {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 0 15px;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }
}

@media only screen and (max-width: 500px) {
  .header-link-container {
    display: flex;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 70px);
    top: 70px;
    left: 0;
    padding: 5px 25px;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden auto;
    background-color: var(--color-2);
    gap: 5px;
    z-index: 100;

    &.hidden {
      display: none;
    }

    .header-link {
      width: 100%;
      height: 50px;
      border-radius: 5px;
      flex-shrink: 0;
      pointer-events: auto;
      background-color: var(--color-3);
      font-weight: 600;

      a {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

.header-link-container {

  &.mobile {
    overflow-x: scroll;
  }

  .header-link {
    &:hover {
      a {
        background-color: var(--highlight-color-1);
      }
    }
    &.active {
      a {
        background-color: var(--highlight-color-2);
      }
    }
  }
}
